@use '../abstracts' as *;

.button {
    width: fit-content;
    background-color: $secondary-color;
    font-size: 12px;
    color: $primary-color;
    padding: 16px 32px;
    border-radius: 32px;

    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
        border: 1px solid $secondary-color;
        cursor: pointer;
    }
}

.tag {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 16px 32px;
    background-color: $secondary-color;
    font-size: 12px;
    color: $primary-color;
    border-radius: 32px;

    p {
        margin: 0;
    }
}