@use '../abstracts' as *;

body {
    display: flex;
    flex-direction: column;
    padding: 32px 64px;

}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;

    a {
        color: $secondary-color;
    }

    .nav ul {
        display: flex;
        gap: 1rem;

        li {
            list-style: none;
        }
    }
}